{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}


    <section class="cart">
        <div class="cart-item">
            <img src="{{ asset('img/flower.png') }}" alt="flower">
            <p class="product-name">Джульетта</p>
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </section>


{% endblock %}
