<header>
    <nav class="nav">
        <img src="{{ asset('img/logo.png') }}" alt="logo">
        <a href="{{ path('about_us') }}">О нас</a>
        <a href="{{ path('catalog') }}">Каталог</a>
        <a href="">Где нас найти?</a>
    </nav>
    <nav class="account">
        <a href="">Регистрация</a>
        <a href="">Войти</a>
    </nav>
</header>