{% extends 'base.html.twig' %}

{% block title %} {{ page_name }}{% endblock %}

{% block body %}

<section id="catalog">
    <div class="filter">

    </div>
    <div class="catalog">
        <div class="item">
            <img src="{{ asset('img/flower.png') }}" alt="">
            <div class="info">
                <a href="#">Джульетта</a>
                <p>от 3320 руб.</p>
                <button>
                    В корзину
                </button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('img/flower.png') }}" alt="">
            <div class="info">
                <a href="#">Джульетта</a>
                <p>от 3320 руб.</p>
                <button>
                    В корзину
                </button>
            </div>
        </div>

    </div>
</section>

{% endblock %}
